<%= render "/main/am559"%>

<body id="page-top">
    
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">SD Confesitval</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#poster">POSTER</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#timeline">TIMETABLE</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#storyline">STORYLINE</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#welcome">WELCOME</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
    <header id=poster>
        <div class="header-content">
            <div class="header-content-inner">
                
            </div>
        </div>
    </header>
  

    <section id="services">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Service Design Confestival</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="introduce_text col-sm-offset-2 col-sm-10">
                    <p>
                    <strong>성균관대 서비스융합디자인 협동과정</strong>과 <strong>연세대 경영대 학생</strong>들이 수행한 서비스디자인 프로젝트들을 <br>
                    페스티발의 자유롭고 흥겨운 분위기 속에서 함께 모여 이야기 듣고, 토론하고 발전시키는<br> 
                    제 1회<strong style="color:#fdcc00"> Service Design Confestival</strong>에 여러분을 초대합니다.
                    </p><p>
                    또한 서비스디자인 전문회사인 <strong>팀인터페이스</strong>가 진행하는<br>
                    프로젝트에 참여할 서비스 디자인 전문가 및 학생들을 선발하기 위한<br>
                    워크샵에 참여하여 여러분의 서비스 디자인 능력을 발휘할 기회를 잡으세요.
                    </p><p>
                    컨퍼런스와 페스티발의 융합성격을 지닌 이번 행사를 통해<br>
                    <strong>서비스 디자인</strong>에 대한 소개를 접하시고,<br>
                    <strong>서비스 디자인</strong>에 대한 전문적 지식을 심화시키고,<br>
                    <strong>서비스 디자인</strong>을 통한 비즈니스 이노베이션 관점을 익히시고,<br>
                    <strong>서비스 디자인</strong> 인력들의 네트워크를 구축하는 기회를 만드세요.
                    </p>
                </div>
            </div>
        </div>
    </section> 
    <section id=timeline>
        <div class="container">
            <div class="row">
                <div class=col-lg-2></div>
                <div class="col-lg-8 text-center">
                    <h2 class="section-heading">TIMETABLE</h2>
                    <hr class=primary>
                </div>
                <div class=col-lg-2></div>
            </div>
            <div class="row text-center timetable-heading">
                <div class="col-lg-2 col-lg-offset-2 col-xs-3">일정</div>
                <div class="col-lg-4 col-xs-6">내용</div>
                <div class="col-lg-2 col-xs-3">시간</div>
            </div>
            <!--시간표내용-->
            <div class="row timetable-content">
                <div class="col-lg-2 col-lg-offset-2 col-xs-3 text-center">Pre-Trip</div>
                <div class="col-xs-6 col-lg-4">영은씨의 하루를 미리 만나보세요</div>
                <div class="text-center col-lg-2 col-xs-3">16:00 - 16:20</div>
            </div>
            <div class="row timetable-content">
                <div class="col-lg-2 col-lg-offset-2 col-xs-3 text-center">Trip Opening</div>
                <div class="col-lg-4 col-xs-6">Confestival 여는말</div>
                <div class="text-center col-lg-2 col-xs-3">16:20 - 16:30</div>
            </div>
            <div class="row timetable-content">
                <div class="col-lg-2 col-lg-offset-2 col-xs-3 text-center">　</div>
                <div class="col-lg-4 col-xs-6">TEASER Presentation</div>
                <div class="text-center col-lg-2 col-xs-3">16:30 - 16:45</div>
            </div>
            <div class="row timetable-content">
                <div class="col-lg-2 col-lg-offset-2 col-xs-3 text-center">　</div>
                <div class="col-lg-4 text-center col-xs-6">BREAK TIME</div>
                <div class="text-center col-lg-2 col-xs-3">16:45 - 16:50</div>
            </div>
            <div class="row timetable-content">
                <div class="col-lg-2 col-lg-offset-2 col-xs-3 text-center">Booth Trip</div>
                <div class="col-lg-4 col-xs-6">영은씨의 Service in Life, Life in Service</div>
                <div class="text-center col-lg-2 col-xs-3">16:50 - 18:00</div>
            </div>
            <!--<div class="row timetable-content">-->
            <!--    <div class="col-lg-2 col-lg-offset-2 text-center">　</div>-->
            <!--    <div class="col-lg-4 text-center">BREAK TIME</div>-->
            <!--    <div class="text-center col-lg-2">18:30 - 18:30</div>-->
            <!--</div>-->
            <div class="row timetable-content">
                <div class="col-lg-2 col-lg-offset-2 col-xs-3 text-center">Trip Closing</div>
                <div class="col-lg-4 col-xs-6">Ending Presentation</div>
                <div class="text-center col-lg-2 col-xs-3">18:00 - 19:40</div>
            </div>
            <div class="row timetable-content">
                <div class="col-lg-2 col-lg-offset-2 text-center col-xs-3">　</div>
                <div class="col-lg-4 col-xs-6">NETWORKING PARTY</div>
                <div class="text-center col-lg-2 col-xs-3">19:40 - 21:00</div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-5">티저발표는 팀당 1분, 엔딩 발표는 팀당 4분에 패널 세션 4분으로 구성됩니다</div>
            </div>
            <!--타임라인-->
        </div>
    </section>
    <section id=storyline>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">STORYLINE</h2>
                    <hr class=primary>
                </div>
                
                <div class="introduce_text col-sm-offset-2 col-sm-10">
                    <p><strong>Service Design Confestival</strong>은 <strong>Service in Life, Life in Service</strong>라는 주제로<br> 
                    단순한 PT방식의 발표회가 아닌, <strong>참여자들이 모두 주인공</strong>이 되어볼 수 있는 참여의 장을 준비했습니다     
                    </p>
                    <p>
                    여러분 모두 다음 이야기의 주인공, 영은씨가 되어서 <strong>삶속의 서비스들을 느껴보세요</strong>
                    </p>
                </div>
                
            </div>
        	<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime" datetime="2013-04-10 2013-04-1018:30"><span>15/08/28</span><span>07:30</span></time>
						<div class="cbp_tmicon"><i class="fa fa-sun-o"></i></div>
						<div class="cbp_tmlabel">
							<h2>굿모닝 홈서비스, AM559와 함께하는 아침</h2>
							<p>28살 디자이너 영은씨, 오늘도 아침을 여는 알람소리를 들으며 침대를 벗어난다. 
							오늘 알람음악이 썩 마음에 두어 저장까지 해두었다. 
							7시 30분. 창문을 활짝 열고 이어서, 약간의 기대감을 가지고 현관으로 간다. 
							현관 문고리에 걸린 조그만 상자를 갖고 들어와 수건과 아메리카노, 
							샌드위치를 꺼낸다. <strong>어제 선택한 이야기가 그려지는 듯한 패키지 구성이 흥미롭다</strong>. 
							
							</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>15/08/28</span><span>08:55</span></time>
						<div class="cbp_tmicon"><i class="fa fa-map-marker"></i></div>
						<div class="cbp_tmlabel">
							<h2>실시간 장소 예약 서비스, 여기신촌</h2>
							<p>샌드위치를 한입 베어물며 켠 노트북을 보니 밤새 메일이 꽤나 많이 왔다.
							자잘한 포워딩 메일을 솎아내 보니, 나에게 직접 온 메일은 하나 뿐이었다.
							오늘도 몇 시간 후에 미팅이 있고, 그 미팅 장소좀 잡아달라는 메일이다.
							'그다지 어려운 일도 아닌데 자기가 좀 잡지...'라는 생각이 들면서도
							'갑'님의 사소한 부탁이고, 쉽게 처리할 수 있으니 딱히 불만없이 장소를 예약한다.
							<strong>겨우 한시간 남짓 남은 미팅이지만 최근 사용하는 서비스로 아주 쉽게 예약</strong>할 수 있었다.
							</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>15/08/28</span><span>12:20</span></time>
						<div class="cbp_tmicon"><i class="fa fa-cutlery"></i></div>
						<div class="cbp_tmlabel">
							<h2>요리의 즐거움, 스마트 인덕션</h2>
							<p>프리랜서 생활을 시작하고는 가능하다면 집에서 밥을 해먹는다.
							클라이언트들과의 식사가 지겹도록 많다보니, 이렇게 집에서 여유롭게 혼자
							새로운 요리를 해보는 시간이 훨씬 귀중해졌다. 특히나, 얼마 전에 새로운 기능을
							가진 인덕션을 샀는데, 요리의 즐거움을 정말 더 배가시켜주고 있다.
							스마트폰에서 레서피 찾아보랴, 요리하랴 정신 없었던 요리 도전이, 이제는
							인덕션이 단계단계마다 자세히 알려주니 참으로 간단하다.
							</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>15/08/28</span><span>14:30</span></time>
						<div class="cbp_tmicon"><i class="fa fa-book"></i></div>
						<div class="cbp_tmlabel">
							<h2>타인의 생각을 엿보는 즐거움, 타인의 서재</h2>
							<p>모처럼 집에서 점심도 먹고, 오후의 여유가 생겼다. 날도 딱 좋은게, 마냥 집에만 있기는 아쉬운 날씨이다.
							집을 나서서 그냥 동네 한바퀴 걷다보니, 얼마 전에 생긴 '타인의 서재'라는 중고책방으로 발길이 이끌렸다.
							남의 생각을, 그것도 같은 책의 같은 부분을 읽고 든 생각을 엿볼 수 있는 것은 참으로 매력적인 일이다.
							책을 한권 집어들어서 읽기 시작했는데, 생각보다 썩 재밌다. 책이 재밌다기보다는 <strong>중간중간 추임새처럼 적혀있는
							이름 모를 누군가의 흔적이 참으로 흥미로웠다</strong>. 한참을 서서 읽다가, 가격도 싸니 그냥 사가지 하는 마음에 계산하고 들고나왔다.
							</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>15/08/28</span><span>17:30</span></time>
						<div class="cbp_tmicon "><i class="fa fa-spoon"></i></div>
						<div class="cbp_tmlabel">
							<h2>혼자 밥먹기 외롭죠? 같이먹어요, 밥풀 </h2>
							<p> 집에 돌아와보니, 오늘은 무려 점심에 이어 저녁까지 집에서 먹을 수 있는 날이었다. 세상에.
							하지만 막상 또 요리를 하려고 보니 그다지 흥이 안난다. 요리하는 것도 물론 재미있지만, 
							사실 요리의 진정한 즐거움은 요리를 하는 것 자체보다는, 누군가 그 것을 맛있게 먹어 주는 것이니까.
							갑자기 '혼자 산다'는 것의 외로움이 고개를 불쑥 내밀었다. 그리고, 이럴 때를 대비하여 준비해 둔 것이 있다.
							쌀을 깨끗이 씻어서, 밥솥에 앉혔다. 밥이 되기 시작함과 동시에, 내 주변에 밥풀친구들에게 밥을 짓는다는 신호를 보냈다.
							참 좋은 세상이다.<strong> 혼자 밥을 먹을 수도 있지만, 혼자 밥을 먹지 않아도 된다.</strong><br> 
							같은 건물에 사는 친구가 거의 바로 식구 신청을 보내서 수락을 했다, 거의 동시에, 밥풀 커뮤니티에서 
							어떤 말쑥한 남자에게 함께 먹어요가 왔다.
							
							</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>15/08/28</span><span>20:20</span></time>
						<div class="cbp_tmicon"><i class="fa fa-lightbulb-o"></i></div>
						<div class="cbp_tmlabel">
							<h2>사진을 위한 스마트 조명</h2>
							<p>재민님 반찬 네가지, 내 반찬 세가지에 밥(친구는 그냥 무임승차를 했다). 혼자 먹는 것보다 훨씬 더 풍성하고 즐거운 저녁식사가 되었다.
							특히나 재민님이 가져온 매실 장아찌가 너무 맛있어서, 처음 보는 사람 앞에서 정말 많이 먹었다. 나만 맛있게 먹은 것 같아 조금 민망해서.
							집 앞에 있는 카페에서 커피를 한잔 사주기로 하고 집을 나왔다. 친구는 옷차림이 후줄근하다며 그냥 집으로 돌아간다길래 돌려 보냈다.
							이야기를 하다 보니 얼마 전에 생긴 서점 '타인의 서재'이야기를 하게 되었다. 그리고, 오늘 산 책의 이야기를 하게 되었다.
							그리고, 매우 놀랍게도, 내가 정말 재밌고 좋은 표현이 많다고 생각한 이의 코멘트가, 바로 재민님의 코멘트였다.
							이런 저런 놀라움 속에, 서로 호구조사도 하고 많은 이야기를 나눴다. 그리고 카페가 닫을 즈음, 무언가 바로 일어나기 아쉬운 마음에
							사진을 한장 찍자 하였다. 휴대폰을 꺼내서, 조명을 가장 로멘틱하게 보이는 것으로 조절한 뒤, 찰칵.<br>
							무언가 기억에 남을 것 같은 밤이다.
							</p>
						</div>
					</li>
				</ul>
				<h2 class=middle_line><span>1년 후</span></h2>
				<ul class=cbp_tmtimeline>
				    <li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>16/08/28</span><span>19:40</span></time>
						<div class="cbp_tmicon "><i class="fa fa-music"></i></div>
						<div class="cbp_tmlabel">
							<h2>공연자와 공간주를 연결하는 플랫폼, 버스킹어라운드</h2>
							<p>정말 운명적이게도, 일년 전 처음으로 사진을 찍었던 그 카페가, 며칠 전부터 버스킹어라운드로 공연을 하기 시작했다.
							그리고 그걸 알자마자, 1년이 되는 바로 오늘! 40분 후인 8시 20분에 공연 예약을 해두었다.
							두근두근. 재민이는 상상도 못하고 있겠지. 이렇게<strong> 동네 카페가 멋진 공연장</strong>이 되다니, 그리고 내가 
							거기서 프로포즈할 기회를 얻게 되다니 참 좋은 세상이다. 후. 떨림이 가시질 않는다.
							</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>16/09/28</span><span>19:40</span></time>
						<div class="cbp_tmicon"><i class="fa fa-camera-retro"></i></div>
						<div class="cbp_tmlabel">
							<h2>포토그래퍼와 고객을 직접 연결하는 스냅사진 플랫폼, 포토바기</h2>
							<p>프로포즈 한지 한달, 친구들은 여자가 무슨 프로포즈냐고 말렸지만 내 로망이었기에
							하고 말았고, 그래서 곧 결혼을 하게 되었다. 한달 후에 있을 결혼에 우리는 비싼 웨딩스튜디오의 '스드메'를
							하기 보다는, 우리나라에서 좋은 곳에 여행다니며 정말 행복을 담은 결혼 사진을 찍기로 하였다.
							다행이 우리나라 곳곳에 스냅샷 서비스인 포토바기가 많이 서비스가 되고 있어서
							웬만한 멋진 배경을 가진 곳에선 어김없이 사진을 찍을 수 있었다.
							<strong>멋진 사진은 물론, 덤으로 그 지역 가이드</strong>도 받을 수 있어서 더욱 여행이 풍성해졌다.
							</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>16/10/02</span><span>19:40</span></time>
						<div class="cbp_tmicon"><i class="fa fa-cog"></i></div>
						<div class="cbp_tmlabel">
							<h2>함께 행복을 만드는 목공소, 행목공</h2>
							<p>이제 한달 후면 결혼이다. 남들 잘 안하는 추운 시기에, 남들 다하는 스드메를 안하고 
							심지어 신혼여행도 안간다고 하니 엄마는 잔소리가 꽤나 많다. 하지만 내고집은 못꺾지 후후.
							그래서 나와 재민이는 혼수도 직접, 같이 만들어 보기로 하였다.
							<strong>무언가 함께 만들어 나간다는 것이, 정말로 의미깊은 일</strong>이었다.
							목공소의 이름대로, 함께 만드니 행복을 만들 수 있었던 것 같다.
							</p>
						</div>
					</li>
				</ul>
				<h2 class=middle_line><span>5년 후</span></h2>
				<ul class=cbp_tmtimeline>
				    <li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>20/04/09</span><span>19:40</span></time>
						<div class="cbp_tmicon"><i class="fa fa-child"></i></div>
						<div class="cbp_tmlabel">
							<h2>우리아이 안심 아이케어 로봇</h2>
							<p>얼마 전 다시 일을 시작하고 나서, 밀려드는 미팅에 정신이 없다.
							남편도, 친정엄마도 시간이 안돼서 애를 잠시 혼자 둘 수 밖에 없는 것이 조금 마은에 걸리지만
							그래도 아이케어 로봇이 있으니 다행이다. 이럴 때를 대비해서 샀는데, 정말 없었으면
					        지금과 같은 상황에서 눈앞이 깜깜했을 것 같다
					        휴 그래도 어서 다녀와야겠다.
							</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>20/04/11</span><span>19:40</span></time>
						<div class="cbp_tmicon"><i class="fa fa-truck"></i></div>
						<div class="cbp_tmlabel">
							<h2>오늘은 내가 요리사! 미라쿡과 함께 새로운 레서피</h2>
							<p>이번 주에 미팅이 조금 많아서 남편에게도, 아이에게도 제대로 밥을 못 챙겨 준 것 같아 내심 미안하다.
							그래서 이번 캠핑에서는 내가 요리사를 자청하고 나섰다. 그것도 전에 해본적 없는 새로운 요리로!
							사실 믿는 구석이 있어서 그랬는데, 내가 얼마 전에 투표한 레서피가, 오늘, 캠핑장의 미라쿡 푸드 트럭에서
							선보인다고 한다. 이번 레서피는 정말 경쟁이 치열한 가운데 뚫고 올라온 것이니 분명 맛이 엄청나겠지.
							아이와 남편에게 요리를 대접할 생각을 하니, 혼자 살 때가 갑자기 떠오르며 행복감이 밀려들었다.
							</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>20/04/11</span><span>19:40</span></time>
						<div class="cbp_tmicon"><i class="fa fa-tree"></i><i class="fa fa-tree"></i></div>
						<div class="cbp_tmlabel">
							<h2>함께하는 캠핑, 쉽게 연결할 수 있는 스마트 텐트</h2>
							<p>헐. 아이스 박스를 이리저리 뒤져보는데, 도무지 후추가 보이질 않는다.
							물론 후추가 없다고 요리 자체를 못하게 되는 것은 아니지만, 그래도 뭔가 완벽하지 못하면 분하다.
							으. 아무래도 놓고 온 듯 싶다. 
							</p>
						</div>
					</li>
				</ul>
				
			</div>
			<strong><p class=bottom_line><span>자세한 이야기는 <strong style="color:#fdcc00">Confestival</strong>에서 함께하실 수 있습니다</span></p></strong>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
          
    </section>
   

    <aside style="background:#ffcc00;" id="welcome">
            <div class="container text-center">
            <div class="call-to-action">
                <h3><strong>버튼을 누르시면 <br>참가 신청 페이지로 이동합니다</strong></h3>
                <a href="https://docs.google.com/forms/d/19hAPkeXAh_pi_8qgy9IC1cswAGdbWB0xNFyldPpxHOg/viewform?c=0&w=1" class="btn btn-default btn-xl wow tada">REGISTER</a>
            </div>
        </div>
    </aside>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">문의사항</h2>
                    <hr class="primary">
                </div>
                <div class="col-sm-3 col-xs-6 col-sm-offset-3 text-center">
                    <i class="fa fa-facebook-square fa-3x wow bounceIn" style="color:#474747;" data-wow-delay=".1s"></i>
                    <p><a href="https://www.facebook.com/sd.confestival"><strong>페이스북</strong></a></p>
                </div>
                <div class="col-sm-3 col-xs-6 text-center">
                    <i class="kakao fa fa-phone fa-3x wow bounceIn"></i>
                    <a href=http://goto.kakao.com/@sd_confestival><strong><p>카카오톡 @sd_confestival</p></strong></a>
                </div>
            </div>
            <br>
            <div class=row>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">함께 하시는 분들</h2>
                    <hr class="primary">
                </div>
                <div class="col-sm-3 col-xs-6 text-center">
                    <i class="hcilab fa fa-phone fa-5x wow bounceIn"></i>
                    <strong><p>연세대학교 HCI LAB</p></strong>
                </div>
                <div class="col-sm-3 col-xs-6 text-center">
                    <i class="sdilab fa fa-phone fa-5x wow bounceIn"></i>
                    <strong><p>성균관대학교 SDI LAB</p></strong>
                </div>
                <div class="col-sm-3 col-xs-6 text-center">
                    <i class="teaminter fa fa-phone fa-5x"></i>
                    <strong><p>TEAM INTERFACE</p></strong>
                </div>
                <div class="col-sm-3 col-xs-6 text-center">
                    <i class="dcamp fa fa-phone fa-5x wow bounceIn"></i>
                    <strong><p>장소후원.DCAMP</p></strong>
                </div>
                
            </div>
        </div>
    </section>

</body>
